*{
    padding: 10;
    margin:10;

}
#myCanvas{
    background: rgb(255, 217, 47);
    display: flex;
    justify-content: center;
    margin: 20;
    vertical-align: middle;   
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
html{
    background-image: url("../img/background.jpg") no-repeat;
    background-color: #cccccc;
}